{% extends 'base.html' %}
{% block title %}You account{% endblock %}

{% block content %}
<div class="breadcrumb-area">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center">
                <h2 class="breadcrumb-title">Password change</h2>
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'account_page' user.pk %}">Account</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'account_details' user.pk %}">Account details</a></li>
                    <li class="breadcrumb-item active">Password change</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->
<!-- account area start -->
<div class="account-dashboard pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-9">
                <!-- Tab panes -->
                <div class="tab-pane fade show active" id="account-details">
                    <h3>Change your password</h3>
                    <div class="login">
                        <div class="login_form_container">
                            <div class="account_login_form">
                                <p>Password changed successfully</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- account area start -->
<!-- Footer Area Start -->
{% endblock %}