{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<div class="breadcrumb-area">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-12 text-center">
        <h2 class="breadcrumb-title">Single Product</h2>
        <!-- breadcrumb-list start -->
        <ul class="breadcrumb-list">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item active">Product</li>
        </ul>
        <!-- breadcrumb-list end -->
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb-area end -->
<!-- Product Details Area Start -->
<div class="product-details-area pt-100px pb-100px">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
        <div class="single-product-slider swiper-container slider-nav-style-1 mb-30px">
          <div class="single-product-slider-wrapper swiper-wrapper">
            {% for image in product.images.all %}
            <div class="single-product-slider-item swiper-slide">
              <a class="venobox" data-gall="myGallery" href="{{ image.image.url }}"><img class="img-responsive m-auto" src="{{ image.image.url }}" alt="slider-item-img"></a>
            </div>
            {% endfor %}
          </div>
          <!-- Add Arrows -->
          <div class="swiper-buttons">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
        <div class="product-details-content quickview-content">
          <h2>{{ product.name }}</h2>
          <div class="pricing-meta">
            <ul class="d-flex">
              <li class="new-price">
                $
                {% if product.on_sale %}
                <del>{{ product.price }}</del> - <span>${{ product.get_discount_price|floatformat:2 }}</span>
                {% else %}
                {{ product.price }}
                {% endif %}
              </li>
            </ul>
          </div>
          <div class="pro-details-rating-wrap">
            <div class="rating-product">
              {% for rt in product.get_rating_stars %}
              <i class="fa fa-star"></i>
              {% endfor %}
            </div>
            <span class="read-review"><a class="reviews" href="#">({{ product.reviews.count }} Customer Review)</a></span>
          </div>
          <p class="mt-30px">{{ product.description }}</p>
          <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
            <span>Category: </span>
            <ul class="d-flex">
              <li>
                <a href="#">{{ product.category }}</a>
              </li>
            </ul>
          </div>
          <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
            <span>Tags: </span>
            <ul class="d-flex">
              {% for tn in product.tag.all %}
              <li>
                <a href="#"> #{{ tn.name }} </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="pro-details-quality">
            <form action="{% url 'create_cart_item' %}" method="post" class="d-flex flex-row">
              {% csrf_token %}
              <div class="cart-plus-minus">
                <input class="cart-plus-minus-box" type="text" name="quantity_of_products" value="1" />
              </div>
              <input type="hidden" name="user" value="{{ user.id }}">
              <input type="hidden" name="product" value="{{ product.pk }}">
              <div class="pro-details-cart">
                <button class="add-cart"> Add To
                  Cart</button>
              </div>
            </form>
            <form action="{% url 'create_wish_item' %}" method="post">
              {% csrf_token %}
              <div class="pro-details-compare-wishlist pro-details-wishlist ">
                <input type="hidden" name="user" value="{{ user.id }}">
                <input type="hidden" name="product" value="{{ product.id }}">
                <input type="hidden" name="quantity_of_products" value="1">
                <button type="submit"><i class="pe-7s-like"></i></button>
              </div>
            </form>
            <form action="">
              <div class="pro-details-compare-wishlist pro-details-wishlist ">
                <button href="compare.html"><i class="pe-7s-refresh-2"></i></button>
              </div>
            </form>
          </div>
        </div>
        <!-- product details description area start -->
        <div class="description-review-wrapper ms-0">
          <div class="description-review-topbar nav">
            <button data-bs-toggle="tab" data-bs-target="#des-details2">Information</button>
            <button class="active" data-bs-toggle="tab" data-bs-target="#des-details1">Description</button>
            <button data-bs-toggle="tab" data-bs-target="#des-details3">Reviews ({{ product.reviews.count }})</button>
          </div>
          <div class="tab-content description-review-bottom">
            <div id="des-details2" class="tab-pane">
              <div class="product-anotherinfo-wrapper text-start">
                <ul>
                  <li><span>Market launch date:</span>{{ product.market_launch_date }}</li>
                  {% if product.category.name == 'Smartphones' %}
                  <li><span>Operating system:</span>{{ product.operating_system }}</li>
                  <li><span>OS version:</span>{{ product.os_version }}</li>
                  <li><span>Screen size:</span>{{ product.screen_size }}"</li>
                  <li><span>Screen resolution:</span>{{ product.screen_resolution }}</li>
                  <li><span>RAM:</span>{{ product.ram }} GB</li>
                  <li><span>Built-in memory:</span>{{ product.built_in_memory }} GB</li>
                  <li><span>CPU:</span>{{ product.cpu }}</li>
                  <li><span>Number of Cores</span>{{ product.num_of_cores }} GB</li>
                  <li><span>Built-in memory:</span>{{ product.built_in_memory }} GB</li>
                  <li><span>CPU:</span>{{ product.cpu }}</li>
                  {% elif product.category.name == 'SmartSpeaker' %}
                  <li><span>Nutrition:</span>{{ product.nutrition }}</li>
                  <li><span>memory_card_support:</span>{% if product.memory_card_support %} yes {% else %} no {% endif %}</li>
                  <li><span>number_of_speakers:</span>{{ product.number_of_speakers }}</li>
                  <li><span>min_frequency_range:</span>{{ product.min_frequency_range }} GHz</li>
                  <li><span>max_frequency_range</span>{{ product.max_frequency_range }} GHz</li>
                  <li><span>bluetooth:</span>{% if product.bluetooth %} yes {% else %} no {% endif %}</li>
                  <li><span>wifi:</span>{% if product.wifi %} yes {% else %} no {% endif %}</li>
                  {% if product.battery_capacity and product.battery_life > 0 %}
                  <li><span>battery_capacity:</span>{{ product.battery_capacity }}</li>
                  <li><span>battery_life:</span>{{ product.battery_life }}</li>
                  {% endif %}
                  <li><span>equipment: </span>{{ product.equipment }} GB</li>
                  {% endif %}
                  <li><span>Color</span>{{ product.color }}</li>
                  <li><span>Height:</span>{{ product.height }} mm</li>
                  <li><span>Width:</span>{{ product.width }} mm</li>
                  <li><span>Depth:</span>{{ product.depth }} mm</li>
                  <li><span>Weight:</span>{{ product.weight }} g</li>
                </ul>
              </div>
            </div>
            <div id="des-details1" class="tab-pane active">
              <div class="product-description-wrapper">
                <p>
                  {{ product.description }}
                </p>
              </div>
            </div>
            <div id="des-details3" class="tab-pane">
              <div class="row">
                <div class="col-lg-12">
                  <div class="review-wrapper">
                    {% for review in product.reviews.all %}
                    <div class="single-review">
                      <div class="review-img">
                        <img src="{{ review.user.image.url }}" alt="" />
                      </div>
                      <div class="review-content">
                        <div class="review-top-wrap">
                          <div class="review-left">
                            <div class="review-name">
                              <h4>{{ review.user.first_name}} {{ review.user.last_name}}</h4>
                            </div>
                            <div class="rating-product">
                              {% for i in review.get_rating_stars %}
                              <i class="fa fa-star"></i>
                              {% endfor %}
                            </div>
                            {% if user == review.user %}
                            <form action="{% url 'delete_review' review.pk %}?next={{ request.path }}" method="post">
                              {% csrf_token %}
                              <button type="submit" class="remove" value="delete">×</button>
                            </form>
                            {% endif %}
                          </div>
                        </div>
                        <div class="review-bottom">
                          <p>
                            {{ review.body }}
                          </p>
                        </div>
                      </div>
                    </div>
                    <form action="{% url 'create_reply' %}" method="post">
                      {% csrf_token %}
                      <div class="reply-block d-flex flex-row">
                        <input type="hidden" name="user" value="{{ user.id }}">
                        <input type="hidden" name="review" value="{{ review.pk }}">
                        <input type="text" placeholder="write your message here" name="body">
                        <button type="submit">Reply</button>
                      </div>
                    </form>
                    {% for reply in review.reviews_reply.all %}
                    <div class="single-review child-review">
                      <div class="review-img">
                        <img src="{{ reply.user.image.url }}" alt="" />
                      </div>
                      <div class="review-content">
                        <div class="review-top-wrap">
                          <div class="review-left">
                            <div class="review-name">
                              <h4>{{ reply.user.first_name}} {{ reply.user.last_name}}</h4>
                            </div>
                          </div>
                          <div class="review-left">
                            <a>Replied to {{ reply.review.user.first_name }} {{ reply.review.user.last_name }}</a>
                          </div>
                          <form action="{% url 'delete_reply' reply.pk %}?next={{ request.path }}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="remove" value="delete">×</button>
                          </form>
                        </div>
                        <div class="review-bottom">
                          <p>{{ reply.body }}</p>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    {% endfor %}
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="ratting-form-wrapper pl-50">
                    <h3>Add a Review</h3>
                    <div class="ratting-form">
                      <form action="{% url 'create_review' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product" value="{{ product.pk }}">
                        <input type="hidden" name="user" value="{{ user.id }}">
                        <div class="star-box">
                          <span>Your rating:</span>
                          <div class="rating-product">
                            <input id="product_rating" maxlength="1" type="text" name='rating' value="1" placeholder="From 1 to 5"
                                   style="font-size: 15px;
                                     padding: 0;
                                     max-height: 20px;
                                     border: 1px solid gray;
                                     max-width: 90px;
                                     border-radius: 5px;
                                     text-align: center">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="rating-form-style">
                              <h4>Name: {{ user.first_name}} {{ user.last_name}}</h4>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="rating-form-style">
                              <h4>email: {{ user.email}}</h4>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="rating-form-style form-submit">
                              <textarea name="body" placeholder="Message"></textarea>
                              <button class="btn btn-primary btn-hover-color-primary " type="submit" value="Submit">Submit</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- product details description area end -->
      </div>
    </div>
  </div>
</div>
<!-- Product Area Start -->
<div class="product-area related-product">
  <div class="container">
    <!-- Section Title & Tab Start -->
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center m-0">
          <h2 class="title">Related Products</h2>
          <p>There are many variations of passages of Lorem Ipsum available</p>
        </div>
      </div>
    </div>
    <!-- Section Title & Tab End -->
    <div class="row">
      <div class="col">
        <div class="new-product-slider swiper-container slider-nav-style-1">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <!-- Single Prodect -->
              <div class="product">
                                        <span class="badges">
                                        <span class="new">New</span>
                                        </span>
                <div class="thumb">
                  <a href="single-product.html" class="image">
                    <img src="assets/images/product-image/1.webp" alt="Product" />
                    <img class="hover-image" src="assets/images/product-image/1.webp" alt="Product" />
                  </a>
                </div>
                <div class="content">
                  <span class="category"><a href="#">Accessories</a></span>
                  <h5 class="title"><a href="single-product.html">Modern Smart Phone
                  </a>
                  </h5>
                  <span class="price">
                                            <span class="new">$38.50</span>
                                            </span>
                </div>
                <div class="actions">
                  <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart"><i
                          class="pe-7s-shopbag"></i></button>
                  <button class="action wishlist" title="Wishlist" data-bs-toggle="modal" data-bs-target="#exampleModal-Wishlist"><i
                          class="pe-7s-like"></i></button>
                  <button class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></button>
                  <button class="action compare" title="Compare" data-bs-toggle="modal" data-bs-target="#exampleModal-Compare"><i
                          class="pe-7s-refresh-2"></i></button>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- Single Prodect -->
              <div class="product">
                                        <span class="badges">
                                        <span class="sale">-10%</span>
                                        <span class="new">New</span>
                                        </span>
                <div class="thumb">
                  <a href="single-product.html" class="image">
                    <img src="assets/images/product-image/2.webp" alt="Product" />
                    <img class="hover-image" src="assets/images/product-image/2.webp" alt="Product" />
                  </a>
                </div>
                <div class="content">
                  <span class="category"><a href="#">Accessories</a></span>
                  <h5 class="title"><a href="single-product.html">Bluetooth Headphone
                  </a>
                  </h5>
                  <span class="price">
                                            <span class="old">$48.50</span>
                                            <span class="new">$38.50</span>
                                            </span>
                </div>
                <div class="actions">
                  <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart"><i
                          class="pe-7s-shopbag"></i></button>
                  <button class="action wishlist" title="Wishlist" data-bs-toggle="modal" data-bs-target="#exampleModal-Wishlist"><i
                          class="pe-7s-like"></i></button>
                  <button class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></button>
                  <button class="action compare" title="Compare" data-bs-toggle="modal" data-bs-target="#exampleModal-Compare"><i
                          class="pe-7s-refresh-2"></i></button>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- Single Prodect -->
              <div class="product">
                                        <span class="badges">
                                        <span class="new">Sale</span>
                                        </span>
                <div class="thumb">
                  <a href="single-product.html" class="image">
                    <img src="assets/images/product-image/3.webp" alt="Product" />
                    <img class="hover-image" src="assets/images/product-image/3.webp" alt="Product" />
                  </a>
                </div>
                <div class="content">
                  <span class="category"><a href="#">Accessories</a></span>
                  <h5 class="title"><a href="single-product.html">Smart Music Box
                  </a>
                  </h5>
                  <span class="price">
                                            <span class="new">$38.50</span>
                                            </span>
                </div>
                <div class="actions">
                  <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart"><i
                          class="pe-7s-shopbag"></i></button>
                  <button class="action wishlist" title="Wishlist" data-bs-toggle="modal" data-bs-target="#exampleModal-Wishlist"><i
                          class="pe-7s-like"></i></button>
                  <button class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></button>
                  <button class="action compare" title="Compare" data-bs-toggle="modal" data-bs-target="#exampleModal-Compare"><i
                          class="pe-7s-refresh-2"></i></button>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- Single Prodect -->
              <div class="product">
                                        <span class="badges">
                                        <span class="new">New</span>
                                        </span>
                <div class="thumb">
                  <a href="single-product.html" class="image">
                    <img src="assets/images/product-image/4.webp" alt="Product" />
                    <img class="hover-image" src="assets/images/product-image/1.webp" alt="Product" />
                  </a>
                </div>
                <div class="content">
                  <span class="category"><a href="#">Accessories</a></span>
                  <h5 class="title"><a href="single-product.html">Air Pods 25Hjkl Black
                  </a>
                  </h5>
                  <span class="price">
                                            <span class="new">$38.50</span>
                                            </span>
                </div>
                <div class="actions">
                  <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart"><i
                          class="pe-7s-shopbag"></i></button>
                  <button class="action wishlist" title="Wishlist" data-bs-toggle="modal" data-bs-target="#exampleModal-Wishlist"><i
                          class="pe-7s-like"></i></button>
                  <button class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></button>
                  <button class="action compare" title="Compare" data-bs-toggle="modal" data-bs-target="#exampleModal-Compare"><i
                          class="pe-7s-refresh-2"></i></button>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- Single Prodect -->
              <div class="product">
                                        <span class="badges">
                                    </span>
                <div class="thumb">
                  <a href="single-product.html" class="image">
                    <img src="assets/images/product-image/5.webp" alt="Product" />
                    <img class="hover-image" src="assets/images/product-image/5.webp" alt="Product" />
                  </a>
                </div>
                <div class="content">
                  <span class="category"><a href="#">Accessories</a></span>
                  <h5 class="title"><a href="single-product.html">Smart Hand Watch
                  </a>
                  </h5>
                  <span class="price">
                                            <span class="new">$38.50</span>
                                            </span>
                </div>
                <div class="actions">
                  <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart"><i
                          class="pe-7s-shopbag"></i></button>
                  <button class="action wishlist" title="Wishlist" data-bs-toggle="modal" data-bs-target="#exampleModal-Wishlist"><i
                          class="pe-7s-like"></i></button>
                  <button class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></button>
                  <button class="action compare" title="Compare" data-bs-toggle="modal" data-bs-target="#exampleModal-Compare"><i
                          class="pe-7s-refresh-2"></i></button>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- Single Prodect -->
              <div class="product">
                                        <span class="badges">
                                        <span class="sale">-8%</span>
                                        <span class="new">Sale</span>
                                        </span>
                <div class="thumb">
                  <a href="single-product.html" class="image">
                    <img src="assets/images/product-image/6.webp" alt="Product" />
                    <img class="hover-image" src="assets/images/product-image/6.webp" alt="Product" />
                  </a>
                </div>
                <div class="content">
                  <span class="category"><a href="#">Accessories</a></span>
                  <h5 class="title"><a href="single-product.html">Smart Table Camera
                  </a>
                  </h5>
                  <span class="price">
                                            <span class="old">$138.50</span>
                                            <span class="new">$112.50</span>
                                            </span>
                </div>
                <div class="actions">
                  <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart"><i
                          class="pe-7s-shopbag"></i></button>
                  <button class="action wishlist" title="Wishlist" data-bs-toggle="modal" data-bs-target="#exampleModal-Wishlist"><i
                          class="pe-7s-like"></i></button>
                  <button class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></button>
                  <button class="action compare" title="Compare" data-bs-toggle="modal" data-bs-target="#exampleModal-Compare"><i
                          class="pe-7s-refresh-2"></i></button>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- Single Prodect -->
              <div class="product">
                                        <span class="badges">
                                        <span class="new">Sale</span>
                                        </span>
                <div class="thumb">
                  <a href="single-product.html" class="image">
                    <img src="assets/images/product-image/7.webp" alt="Product" />
                    <img class="hover-image" src="assets/images/product-image/1.webp" alt="Product" />
                  </a>
                </div>
                <div class="content">
                  <span class="category"><a href="#">Accessories</a></span>
                  <h5 class="title"><a href="single-product.html">Round Pocket Router
                  </a>
                  </h5>
                  <span class="price">
                                            <span class="new">$38.50</span>
                                            </span>
                </div>
                <div class="actions">
                  <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart"><i
                          class="pe-7s-shopbag"></i></button>
                  <button class="action wishlist" title="Wishlist" data-bs-toggle="modal" data-bs-target="#exampleModal-Wishlist"><i
                          class="pe-7s-like"></i></button>
                  <button class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></button>
                  <button class="action compare" title="Compare" data-bs-toggle="modal" data-bs-target="#exampleModal-Compare"><i
                          class="pe-7s-refresh-2"></i></button>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- Single Prodect -->
              <div class="product">
                                        <span class="badges">
                                        <span class="sale">-5%</span>
                                        </span>
                <div class="thumb">
                  <a href="single-product.html" class="image">
                    <img src="assets/images/product-image/8.webp" alt="Product" />
                    <img class="hover-image" src="assets/images/product-image/8.webp" alt="Product" />
                  </a>
                </div>
                <div class="content">
                  <span class="category"><a href="#">Accessories</a></span>
                  <h5 class="title"><a href="single-product.html">Power Bank 10000Mhp
                  </a>
                  </h5>
                  <span class="price">
                                            <span class="old">$260.00</span>
                                            <span class="new">$238.50</span>
                                            </span>
                </div>
                <div class="actions">
                  <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart"><i
                          class="pe-7s-shopbag"></i></button>
                  <button class="action wishlist" title="Wishlist" data-bs-toggle="modal" data-bs-target="#exampleModal-Wishlist"><i
                          class="pe-7s-like"></i></button>
                  <button class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></button>
                  <button class="action compare" title="Compare" data-bs-toggle="modal" data-bs-target="#exampleModal-Compare"><i
                          class="pe-7s-refresh-2"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- Add Arrows -->
          <div class="swiper-buttons">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  function validate(evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode( key );
    var regex = /[1-5]|\./;
    if( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }

  document.getElementById('product_rating').onkeypress = function() {
    validate(event);
  }

  document.getElementById('product_rating').onpaste = function() {
    validate(event);
  }
</script>
{% endblock %}